body {
}
#canvases{
    position:relative;
    width: 100%;
    height: 100%;
    margin:2%;
}
#mainArea{
    z-index:1;
    position:absolute;
    left:100px;
    top:120px;
}
#characterLayer{
    z-index:2;
    position:absolute;
    left:100px;
    top:120px;
}

#notifications {
    z-index:4;
    position:absolute;
    left:100px;
    top:120px;
    height: 800px;
    width: 800px;
    opacity: 0;
    transition: opacity 1s;
    font-size: 72px;
    font-weight: bold;
}

#ultraHC {

}

#ultraHC.active {
    background-color: red;
    color: white;
    outline: none;
    border: none;
}

#notifications.open {
    background-color: #000;
    color: #FFF;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#helpMenu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    z-index: 3;
    background-color: #FFF;
    transition: left 1s;
}

#helpMenu.open {
    left: 0;
}

#helpMenuHandleContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

#helpMenuHandle {
    position: absolute;
    top: 50%;
    right: -59px;
    background-color: red;
    padding: 12px 14px;
    color: white;
}

#helpMenuHandle:hover {
    cursor: pointer;
}

#gameStatus {

}

#lazorStatus {
    position: fixed;
    left: 10%;
    top: 6px;
    background-color: #FFF;
    padding: 12px 20px;
    z-index: 4;
}
#menuContainer {
    position:relative;
    height:800px;
    width:600px;
    border: 1px dotted red;
    background-image: url("../../Graphics/Scenes/start_menu/background.png");
    background-repeat:no-repeat;
    overflow:no-content;
}
#startGame{
    
}
#optionsContainer{
    position:absolute;
    border-radius: 25px;
    margin-top:5%;
    left:-80%;
    bottom:0;
    width:80%;
    height:60%;
    background: rgba(170, 90, 9, 0.4);
    transition: left 2s;
}
#optionsContainer.open{
    left:10%;
}
#gameOptions{
    font-size:large;
    font-weight:600;
}
#startGameBtn{
    margin-left:35%;
    font-size:large;
    font-weight:600;
}
.menuOptions{
    border-radius: 25px;
    text-align:center;
    margin-top:5%;
    border: 1px dotted blue;
}